/* src/App.css */
.App {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

input[type="file"] {
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    background-color: #2e8b57;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
}

    button:hover {
        background-color: #246c45;
    }

.sfm-preview {
    text-align: left;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    background-color: #f9f9f9;
}
